@font-face {
  font-family: "Helvetica";
  src: url("../font/helvetica-light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica";
  src: url("../font/helvetica-rounded-bold.otf");
  font-style: normal;
  font-weight: 900;
}
